<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Status</title>
</head>

<body>
  <h1><%= message %></h1> <!-- Message from the backend success/fail -->
  <p>Redirecting in 5 seconds...</p>

  <script>
    setTimeout(function() {
      window.location.href = '/';
    }, 5000);
  </script>
</body>

</html>