a {
  text-decoration-color: black;
}

b {
  font-weight: 500;
}

.card {
  color: white;
}

.status-1 {
  color: white;
  font-weight: 600;
}

.status-2 {
  color: gold;
  font-weight: 600;
}

.status-3 {
  color: red;
  font-weight: 600;
}

.tournament-card-header {
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}