body {
  min-height: 100vh;
  background: linear-gradient(to bottom, white, gray);
  text-align: center;
}


.bordered-container {
  border: .5vw solid #020202;
  padding: .5vw;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  align-items: top;
}

.buttons {
  /* border-radius: 50px; */
  background-color: #555555;
  color: white;
  padding: 3px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1vw;
}

.header-container h1 {
  margin-right: 1rem;
}

.header-right {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.text-button {
  background: none;
  border: none;
  padding: 10;
  color: inherit;
  cursor: pointer;
  font-size: larger;

  
}

.inner-container {
  padding-top: 10vw;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-left: auto;
  margin-right: 0;
}

.paragraph {
  max-width: 25vw
}

*/ .image {
  width: 10%;
}


* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 20px;
  width: 70%;
  background: white;
  z-index: 1;
  align-items: left;
  min-height: calc(100vh - 400px);
}

.leftmiddle-alignment {
  text-align: left;
  margin-left: 25vw;
}

.wrapper2 {
  width: 90%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 75px;
  background: white;
  position: fixed;
  z-index: 2;
}


.logo {
  width: 30%;
  float: left;
  text-align: left;
  line-height: 75px;
}

.logo a {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: green;
  letter-spacing: 4px;
}

nav {
  float: right;
  line-height:75px;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  padding: 15px 10px;
  margin: 0 1px;
  font-weight: 500;
  color: green;
}

nav a:hover {
  background: green;
  color: white;
}

.banner-area {
  background-image: url(/res/AIPool.png);
  background-size: cover;
  background-position: center center;
  top: 75px;
  height: 100vh;
  width: 100%;
  position: fixed;
}

.banner-area:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(23, 95, 20);
  opacity: .3;
  z-index: -1;
}

.banner-area h2 {
  padding-top: 100px;
  font-size: 80px;
  color: white;
}

.content-area {
  width: 100%;
  height: flex;
  position: relative;
  background: rgb(41, 40, 40);
  top: 400px;
}

.content-area h2 {
  font-size: 40px;
  margin: 0;
  padding-top: 30px;
  letter-spacing: 4px;
}

.content-area p {
  padding: 2% 0;
  line-height: 30px;
  text-align: justify;
}

.align-center {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

input {
  padding: 1px;
  margin: 1px;
}

.hidden {
  display: none;
}

.searchbar {
  padding-top: 15px;
}

#nav-tournament-search-form {
  height: 53px;
  padding-right: 2vw;
}

#nav-home {
  margin-left: 2vw;
}

.label {
text-align: center;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%; 
}

#change-name-button {
  margin-left: 10px;
  margin-right: 10px;
}

#delete-account-button {
  margin-left: 10px;
  margin-right: 10px;
}