  body {
      height: 100vh;
      background: linear-gradient(to bottom, white, gray);
      text-align: center;

  }


  .bordered-container {
    border: .5vw solid #020202;
    padding: .5vw;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    align-items: top;

}

  .buttons {
      /* border-radius: 50px; */
      background-color: #555555;
      color: white;
      padding: 3px;
  }

  .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1vw;
  }

  .header-right {
      display: flex;
      gap: 1rem;
      margin-left: auto;
  }

  .text-button {
      background: none;
      border: none;
      padding: 10;
      color: inherit;
      cursor: pointer;
      font-size: larger;
  }

  .inner-container {
      padding-top: 10vw;
      padding-left: 10vw;
      padding-right: 10vw;
      margin-left: auto;
      margin-right: 0;
  }

  .paragraph {
      max-width: 25vw
  }

  */ .image {
      width: 10%;
  }


  * {
      margin: 0;
      padding: 0;
  }

  .wrapper {
    margin: 0 auto;
    padding: 20px;
    width: 70%;
    background: white;
    z-index: 1;
    align-items: left;
    min-height: 1000px;
}

  .leftmiddle-alignment {
      text-align: left;
      margin-left: 25vw;
  }

  .wrapper2 {
      width: 90%;
      margin: 0 auto;
  }

  header {
      width: 100%;
      height: 75px;
      background: white;
      position: fixed;
      z-index: 2;
  }


  .logo {
      width: 30%;
      float: left;
      text-align: left;
      line-height: 75px;

  }

  .logo a {
      font-size: 30px;
      font-weight: 600;
      text-decoration: none;
      color: green;
      letter-spacing: 4px;

  }

  nav {
      float: right;
      line-height:75px;
  }

  nav a {
      text-decoration: none;
      font-size: 20px;
      padding: 15px 10px;
      margin: 0 1px;
      font-weight: 500;
      color: green;
  }

  nav a:hover {
      background: green;
      color: white;
  }

  .banner-area {
      background-image: url(/res/AIPool.png);
      background-size: cover;
      background-position: center center;
      top: 75px;
      height: 100vh;
      width: 100%;
      position: fixed;


  }

  .banner-area:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: lightgreen;
      opacity: .7;
      z-index: -1;
  }

  .banner-area h2 {

      padding-top: 7%;
      font-size: 80px;
      color: white;

  }

  .content-area {
    width: 100%;
    height: flex;
    position: relative;
    background: rgb(41, 40, 40);
    top: 450px;
    
}

  .content-area h2 {
      font-size: 40px;
      margin: 0;
      padding-top: 30px;
      letter-spacing: 4px;

  }

  .content-area p {
      padding: 2% 0;
      line-height: 30px;
      text-align: justify;

  }

  .align-center {
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 20px;
  }

  .tournament-content {
      text-align: left;
  }

  .tournament-details {
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 20px;
  }

  .tournament-details-item {
      padding: 15px;
      text-align: center;
  }

  .tournament-details-item h3 {
      margin-bottom: 10px;
      text-align: center;
  }

  .tournament-bracket-container {
      display: grid;
      grid-template-columns: repeat(15, 12em);
      /* 20 columns with each column 150px wide */
      overflow-x: auto;
      /* Allow horizontal scrolling */
      overflow-y: auto;
      /* Allow vertical scrolling */
      max-width: 100%;
      /* Take up full width of container */
      max-height: 100%;
      /* Maximum height set to viewport height */
      padding: 10px;
  }

  .tournament-bracket-empty-item {
      justify-content: center;
      align-items: center;
      text-align: left;
      min-height: 3em;
      min-width: 12em;
  }

  .tournament-bracket-left-border-item {
      justify-content: center;
      align-items: center;
      border-left: 2px solid #000;
      text-align: left;
      min-height: 3em;
      min-width: 12em;
  }

  .tournament-bracket-right-border-item {
      justify-content: center;
      align-items: center;
      border-right: 2px solid #000;
      text-align: left;
      min-height: 3em;
      min-width: 12em;
  }

  .tournament-bracket-item {
      justify-content: center;
      align-items: center;
      border: 2px solid #000;
      text-align: left;
      min-height: 3em;
      min-width: 12em;
  }

  .tournament-bracket-winner-item {
      justify-content: center;
      align-items: center;
      border: 4px solid #dd5;
      text-align: left;
      min-height: 3em;
      min-width: 12em;
  }

  .tournament-bracket-win-button {
      float: right;
      background-color: #5a5;
      padding: 1%;
      cursor: pointer;
  }

  input {
    padding: 1px;
    margin: 1px;
  }

  .card {
    background-color: #5a5;
  }

  .card-title {
    color: black;
  }

  .list-group-item {
    text-align: left;
    background-color: lightgreen;
  }

  .dropdown-item i {
    margin-left: auto;
  }
  